<h1>Willkommen, <%= current_user.name %>!</h1>
<p>Dies ist dein Dashboard.</p>

<nav>
  <div class="nav-buttons">
    <%= link_to "Fragen", questions_path, class: "button" %>
    <%= link_to "Aktivitäten", activities_path, class: "button" %>
    <%= link_to "Profil", profile_path, class: "button" %>
    <% if current_user.role_admin? %>
      <%= link_to "Benutzerverwaltung", admin_users_path, class: "button" %>
    <% end %>
  </div>
</nav>
